
content{
	max-width: 1600px;
}
header {
  background-color: #708080;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

nav {
  display: flex;
}

nav a {
  color: #fff;
  margin-right: 10px; 
  margin: 10px;
  text-decoration: none; 
  font-size: 20px; 
  font-family: RocknRoll O, Helvetica, sans-serif;
}

.social {
  display: flex;
}

.social img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.date {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.event, .weather, .join, .hero, .news, .spotlight1, .spotlight2, .spotlight3 { 
  background-color: burlywood; 
  color: blue;
  padding: 20px;
  text-align: center; 
  font-family: RocknRoll O, Helvetica, sans-serif; 
} 

.event-img, .weather-img, .card-img, .hero-img, .news-img, .spotlight1-img, .spotlight2-img, .spotlight3-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


#lastModified{ 
	text-align: center;
	color: greenyellow; 
	margin-top: -50px; 
	border-top: 1px solid;
}


footer {
  background-color: #708080;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
  margin-top: 20px;
}
.loo{
	width: 150px;
	height: 150px; 
	margin-right: 20px;
}
footer h3 { 
  margin-bottom: 30px;
}

/* footer h4 {
  margin-left: 300px;
  text-align: center;
} */
