.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
  
  body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  }
  
  /* Headings */
  h1, h2, p {
  color: #333;
  margin: 0 0 10px;
  text-align: center;
  }
  
  /* Image links */
  a img {
  border: 1px solid #708080;
  border-radius: 10px;
  }
  
  a img:hover {
  opacity: .9;
  transform: scale(1.1);
  }
  
  /* Company info sections */
  #company-info, #company-info2, #company-info3, #company-info4, #company-info5, #company-info6, #company-info7, #company-info8, #company-info9 {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  padding: 15px;
  margin: 10px;
  margin-left: 10px;
  }
  
  /* Responsive layout for smaller screens */
  @media only screen and (max-width: 600px) {
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .social {
      margin-top: 20px;
    }
    
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }