 /* Large view styles */
 @media only screen and (min-width: 1024px) {
    header {
      display: flex;
      justify-content: space-between;
    }
    .logo {
      width: 25%;
      text-align: left;
    }
    nav a{
      width: 50%;
      text-align: left;
    }
    .social {
      width: 25%;
      text-align: right;
    }
    .home-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
    }
  }
 



